@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* navabar */
header {
    margin-top: 40px;
}

.nav-link {
    font-size: 20px !important;
    font-weight: 600 !important;

}

/* carosol */
.carousel-item h1 {
    font-size: 50px;
}

.carousel-item p {
    font-size: 18px;
    margin: 25px 0 50px 0;
}

.carousel-item a {
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}


.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 13px;
    border-radius: 15px !important;
    border: 0;
    background: linear-gradient(90deg, rgba(255, 194, 32, 1) 0%, rgba(42, 247, 204, 1) 100%);
}

.carousel-indicators .active {
    width: 45px !important;
}

@media only screen and (max-width:667px) {

    /* navabar */
    header {
        margin-top: 20px;
    }

    .nav-link {
        font-size: 18px !important;
        font-weight: 500 !important;
        text-align: center;

    }

    /* carosol */
    .carousel-item h1 {
        font-size: 30px;
        text-align: center;
    }

    .carousel-item p {
        font-size: 17px;
        margin: 35px 0 50px 0;
        text-align: center;
    }

    .carousel-item a {
        display: block;
        width: 50%;
        margin: auto;
        text-align: center;
        margin-bottom: 40px;
        /* margin-top: 20px; */
    }

    .carousel-item img {
        margin-bottom: 50px;
    }
}